<div class="box">
  <div class="card">
    <div>
      <h5>Location:</h5>
      <h3><%= @vacancy.job_location %></h3>
      <h5>---------------------------<h5>
      <h5>Description:</h5>
      <h3><%= @vacancy.job_description %></h3>
      <h5>---------------------------<h5>
      <h5>Salary:</h5>
      <h3>£ <%= @vacancy.job_salary %> per shift</h3>
      <h5>---------------------------<h5>
    </div>
