<h1>JobFinder</h1>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>JobFinder brings <strong>employers</strong> to <strong>talented people</strong>!</h1>
    <p>Find the right role for you and change your life today</p>
    <div class="search-bar">
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Enter Keyword ..." />
        </div>
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Enter Location ..." />
        </div>
        <button name="button" type="submit" class="btn btn-gradient" >
          <i class="fas fa-search"></i> <a href="/vacancies">Find</a>
        </button>
      </form>
  </div>
</div>
