<h1>JobFinder</h1>

<%# <div class="search-bar">
  <%= form_with url: vacancies_path, method: :get, class: "d-flex my-3" do %>
    <%# <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an island"
    %>
    <%# <%= submit_tag "Search", class: "btn btn-search" %>
  <%# <% end %>
<%# </div> %>

<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path "https://res.cloudinary.com/dm6g22zui/image/upload/v1669120244/eyc9tqyxuet2v9uqwj03.jpg"%>
  <%# <div class="container">
    <h1>Find your perfect island paradise</h1>
    <p></p>
    <p></p>
    <p>Looking for a private island but not sure where to start?</p>
    <p>We have islands for rent that are not available anywhere else.</p>
    <p>It is time to tropic like its hot.</p>
    <p>Search all our islands </p>
    <a class="btn-search-home" href="/islands">Search Islands</a>
  </div> %>
<%# </div> %>
